.searchbox-container {
    height: auto;
    padding-top: 15px;
    width: 420px;
    position: absolute;

    .search {
        width: 100%;
    }

    .food-results {
        background: white;
        position: relative;
        border: black 1px solid;
    }

}