.item-container {
    height: 80px;
    display: flex;
    padding: 12px 0 0 12px;

    @media screen and (max-width: 800px) {
        height: 66px;
    }

    .image-container {
        width: 15%;
        height: auto;
        align-self: center;

        
        
        .image {
            width: 66px;

            @media screen and (max-width: 800px) {
                width: 48px;
            }
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        width: 85%;
        border-bottom: 1px gray solid;

        @media screen and (max-width: 800px) {
            padding-left: 12px;
        }

        .top-info {
            margin-bottom: 6px;
        }

        .item-left {
            display: flex;
            flex-direction: column;
            text-align: left;
        }

        .item-right {
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-right: 30px;
        }
    }
}