.App {
    text-align: center;
    height: 100vh;
    
    .header{
        height: 20%;
        background: #6200ee;

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

            .date-container {
                margin-top: 65px;
                display: flex;
                width: 380px;
                align-items: center;
                justify-content: space-around;
            }
        }
    }

    .content-container {

        height: 80%;
        display: flex;

        .user-info {
            height: 100%;
            width: 40%;
            background-color: #f5f5f5;

            .profile {
                height: 30%;
                border-bottom: gray solid 1px;
            }

            .calories-info {
                height: 70%;
            }
        }

        .item-list {
            height: 100%;
            width: 60%;
        }
    }
}

html,body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}