.App {
    text-align: center;
    height: 100vh;
    

    .circle-button {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #6200ee;
        color: white;
        position: absolute;
        bottom: 15px;
        right: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
    } 

    .header{
        height: 20%;
        background: #6200ee;

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

            .date-container {
                margin-top: 56px;
                color: white;
                display: flex;
                width: 380px;
                align-items: center;
                justify-content: space-around;

                @media screen and (max-width: 800px) {
                    width: 100%;
                }

                h2 {
                    font-size: 34px;
                }
            }
        }
    }

    .content-container {

        height: 80%;
        display: flex;

        @media screen and (max-width: 800px) {
            flex-direction: column;
        }

        .user-info {
            height: 100%;
            width: 30%;
            background-color: #f5f5f5;

            @media screen and (max-width: 800px) {
                width: 100%;
                height: auto;
                background-color: white;

            }

            .profile {
                height: 30%;
                border-bottom: gray solid 1px;

                @media screen and (max-width: 800px) {
                    height: 0px;
                    border-bottom: none;
                    overflow: hidden;
                }
            }

            .calories-info {
                height: 70%;
            }
        }

        .item-list {
            height: 100%;
            width: 70%;

            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }
    }
}

html,body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}